<%= @title = 'アカウント情報の編集' %>
<h1><%= @title %></h1>

<div id="generic-form">
	<%= form_for @staff_member, url: :confirm_staff_account do |f| %>
		<%= render 'form', f: f %>
		<div clas="buttons">
			<%= f.submit '確認画面へ' %>
			<%= link_to 'キャンセル', :staff_account %>
		</div>
	<% end %>
</div>

